@model List<SaleDetailsViewModel>
@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<br />
<main class="main">
    <div class="page-header text-center" style="background-image: url('proje/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">@ViewBag.user.FirstName  @ViewBag.user.LastName</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <br />
    <br />
    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <h4></h4>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="true">Siparişlerim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Kayıtlı Adresler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Üyelik Bilgileri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Çıkış Yap</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <table class="table table-cart table-mobile">
                                <a asp-action="UserDashboard" asp-controller="Account"><i class="fa-solid fa-arrow-left-long fa-2xl"></i> Geri Dön</a>
                                <thead>
                                    <tr class="text-center">
                                        <th>Ürün Adı</th>
                                        <th>Fiyat</th>
                                        <th>Adet</th>
                                        <th width="90px">Toplam Fiyat</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="product-col" width="400px">
                                                <div class="product">
                                                    <figure class="product-media">
                                                        <a asp-action="Details" asp-controller="Urunler" asp-route-id="@item.ProductId">
                                                            <img src="@item.Product.ThumbnailImage" alt="Product image">
                                                        </a>
                                                    </figure>

                                                    <h3 class="product-title">
                                                        <a asp-action="Details" asp-controller="Urunler" asp-route-id="@item.ProductId">@item.Product.Name</a>
                                                    </h3><!-- End .product-title -->
                                                </div><!-- End .product -->
                                            </td>
                                            <td class="price-col">@item.Product.Price.ToString("C")</td>

                                            <td class="quantity-col text-center">
                                                <div class="cart-product-quantity d-inline">
                                                    <p class="d-inline"><strong>@item.Quantity</strong></p>
                                                </div><!-- End .cart-product-quantity -->

                                            </td>
                                            <td class="total-col">@((item.Quantity * item.Product.Price).ToString("C"))</td>
                                        </tr>
                                    }


                                </tbody>
                            </table><!-- End .table table-wishlist -->


                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">

                                <div class="row">
                                    @if (ViewBag.user.Adress != null)
                                    {
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">@ViewBag.user.AdressName</h3><!-- End .card-title -->
                                                    <p>
                                                        @ViewBag.user.Adress
                                                        <a href="#">Düzenle <i class="icon-edit"></i></a>
                                                    </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div>

                                        <!-- End .col-lg-6 -->
                                    }

                                    @if (ViewBag.user.Adress2 != null)
                                    {
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">@ViewBag.user.AdressName</h3><!-- End .card-title -->

                                                    <p>
                                                        @ViewBag.user.Adress2

                                                        <a href="#">Düzenle <i class="icon-edit"></i></a>
                                                    </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div>

                                        <!-- End .col-lg-6 -->
                                    }

                                    @if (ViewBag.user.Adress3 != null)
                                    {
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">@ViewBag.user.AdressName</h3><!-- End .card-title -->

                                                    <p>
                                                        @ViewBag.user.Adress3

                                                        <a href="#">Düzenle <i class="icon-edit"></i></a>
                                                    </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div>

                                        <!-- End .col-lg-6 -->
                                    }
                                    @if (ViewBag.user.Adress == null && ViewBag.user.Adress2 == null && ViewBag.user.Adress3 == null)
                                    {

                                        <div class="alert alert-danger container text-center mt-2" role="alert" style="height:70px; display: flex; align-items: center; justify-content: center; ">
                                            Kayıtlı Adresiniz Bulunmamaktadır &nbsp; <b><a href="#" class="text-white">Eklemek İçin Tıklayın</a></b>
                                        </div>
                                    }
                                </div><!-- End .row -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>First Name *</label>
                                            <input type="text" class="form-control" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Last Name *</label>
                                            <input type="text" class="form-control" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Display Name *</label>
                                    <input type="text" class="form-control" required>
                                    <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                                    <label>Email address *</label>
                                    <input type="email" class="form-control" required>

                                    <label>Current password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control">

                                    <label>New password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control">

                                    <label>Confirm new password</label>
                                    <input type="password" class="form-control mb-2">

                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
