@model List<CartLineViewModel>

@if (Model.Count() > 0)
{

    <div class="row" id="cartrefresh">
        <div class="col-lg-9">
            <table class="table table-cart table-mobile">
                <thead>
                    <tr class="text-center">
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th width="90px">Toplam Fiyat</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="product-col" width="400px">
                                <div class="product">
                                    <figure class="product-media">
                                        <a href="#">
                                            <img src="@item.Product.ThumbnailImage" alt="Product image">
                                        </a>
                                    </figure>

                                    <h3 class="product-title">
                                        <a href="#">@item.Product.Name</a>
                                    </h3><!-- End .product-title -->
                                </div><!-- End .product -->
                            </td>
                            <td class="price-col">@item.Product.Price.ToString("C")</td>

                            <td class="quantity-col text-center">
                                <button style="border-radius:50%;" onclick="decrease(@item.ProductId)" class="mr-3 btn-outline-danger"><i class="fa-solid fa-minus"></i></button>
                                <div class="cart-product-quantity d-inline">
                                    <p class="d-inline"><strong>@item.Quantity</strong></p>
                                </div><!-- End .cart-product-quantity -->
                                <button style="border-radius:50%;" onclick="increase(@item.ProductId)" class="ml-3 btn-outline-success"><i class="fa-solid fa-plus"></i></button>
                            </td>
                            <td class="total-col">@((item.Quantity * item.Product.Price).ToString("C"))</td>
                            <td class="remove-col"><a asp-action="DeleteCart" asp-controller="Cart" asp-route-id="@item.ProductId" class="btn-remove"><i class="icon-close"></i></a></td>
                        </tr>
                    }


                </tbody>
            </table><!-- End .table table-wishlist -->
            <div class="cart-bottom">
                <div class="cart-discount">
                </div><!-- End .cart-discount -->
            </div><!-- End .cart-bottom -->
        </div><!-- End .col-lg-9 -->
        <aside class="col-lg-3">
            <div class="summary summary-cart">
                <h3 class="summary-title">Sepetim</h3><!-- End .summary-title -->

                <table class="table table-summary">
                    <tbody>
                        <tr class="summary-subtotal">
                            <td>Sepet Toplamı:</td>
                            <td>@ViewBag.total.ToString("C")</td>
                        </tr><!-- End .summary-subtotal -->
                        <tr class="summary-shipping">
                            <td>Kargo:</td>
                            <td>&nbsp;</td>
                        </tr>

                        <tr class="summary-shipping-row">
                            <td>

                                <div class="custom-control custom-radio">
                                    <input type="radio" id="free-shipping" name="shipping" class="custom-control-input" value="bedava" checked>
                                    <label class="custom-control-label" for="free-shipping">Standart Kargo:</label>
                                </div><!-- End .custom-control -->
                            </td>
                            <td class="text-success">Ücretsiz</td>
                        </tr><!-- End .summary-shipping-row -->

                        <tr class="summary-shipping-row">
                            <td>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input" value="hizli">
                                    <label class="custom-control-label" for="standart-shipping">Hızlı Kargo:</label>
                                </div><!-- End .custom-control -->

                            </td>

                            <td>100&#8378;</td>
                        </tr>

                        <!-- End .summary-shipping-row -->
                        <tr class="summary-shipping-estimate">
                            <td>Estimate for Your Country<br> <a href="dashboard.html">Adresi Değiştir</a></td>
                            <td>&nbsp;</td>
                        </tr>

                        <!-- End .summary-shipping-estimate -->

                        <tr class="summary-total">
                            <td>Toplam:</td>
                            <td id="toplamfiyat">@ViewBag.total.ToString("C")</td>
                        </tr>

                        <!-- End .summary-total -->
                    </tbody>
                </table>

                <!-- End .table table-summary -->

                <a asp-action="Index" asp-controller="Payment" class="btn btn-outline-primary-2 btn-order btn-block">SEPETİ ONAYLA</a>
            </div>

            <!-- End .summary -->

            <a asp-action="Index" asp-controller="AnaSayfa" class="btn btn-outline-dark-2 btn-block mb-3"><span>ALIŞVERİŞE DEVAM ET</span><i class="icon-refresh"></i></a>
        </aside>

        <!-- End .col-lg-3 -->
    </div>
}
else
{
    <br />
    <br />
    <div style="align-items: center;display: flex;justify-content: center;">
        <img src="~/images/cart.png">
    </div>
    <br />
    <div  class="text-center">
        <p style="font-size:30px;">Sepetinizde Ürün Bulunmamaktadır</p>
    </div>
    <br />
    <br />
}