@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<br />
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="toolbox">

                </div><!-- End .toolbox -->

                <div class="products mb-3">
                    <div class="row justify-content-center">
                        @foreach (var item in Model)
                        {
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span class="product-label label-new">New</span>
                                        <a asp-action="Details" asp-controller="Urunler" asp-route-id="@item.Id">
                                            <img src="@item.ThumbnailImage" alt="Product image" class="product-image">
                                        </a>
                                        <div class="product-action">
                                            <a href="javascript:void(0);" onclick="AddToCart(@item.Id)" class="btn-product btn-cart" title="Sepete Ekle"><span>Sepete Ekle</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a asp-action="Index" asp-controller="Urunler" asp-route-id="@item.CategoryId">@item.Category.CategoryName</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title">
                                            <a asp-action="Details" asp-controller="Urunler" asp-route-id="@item.Id">
                                                @if (item.Name.Count() > 50)
                                                {
                                                    @item.Name.Substring(0,item.Name.Substring(0,50).LastIndexOf(" ")).ToString()

                                                    <span>...</span>
                                                }
                                                else
                                                {
                                                    @item.Name
                                                }
                                            </a>
                                        </h3><!-- End .product-title -->
                                        <div class="product-price">
                                            @item.Price.ToString("C")
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>

                            <!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                        }


                    </div><!-- End .row -->
                </div><!-- End .products -->


            </div><!-- End .col-lg-9 -->

            <aside class="col-lg-3 order-lg-first">
                <div class="sidebar sidebar-shop">
                    <form asp-action="Index" asp-controller="Urunler" method="get">
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                    Marka
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-4">
                                <div class="widget-body">
                                    <div class="filter-items">
                                        @foreach (var brands in Model)
                                        {
                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" name="brand" value="@brands.Brand" id="@brands.Id">
                                                    <label class="custom-control-label" for="@brands.Id">@brands.Brand</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div>

                                            <!-- End .filter-item -->
                                        }

                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->
                        @foreach (var item in ViewBag.specs)
                        {
                            string uniqueId2 = Guid.NewGuid().ToString();
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#@uniqueId2" role="button" aria-expanded="true" aria-controls="@uniqueId2">
                                        @item.Spec
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="@uniqueId2">
                                    <div class="widget-body">
                                        <div class="filter-items">
                                            <div class="filter-item">
                                                @if (item.Value6 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value6" value="@item.Spec-@item.Value6">
                                                        <label class="custom-control-label" for="@item.Value6">
                                                            @item.Value6
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value5 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value5" value="@item.Spec-@item.Value5">

                                                        <label class="custom-control-label" for="@item.Value5">
                                                            @item.Value5
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value4 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value4" value="@item.Spec-@item.Value4">
                                                        <label class="custom-control-label" for="@item.Value4">
                                                            @item.Value4
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value3 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value3" value="@item.Spec-@item.Value3">
                                                        <label class="custom-control-label" for="@item.Value3">
                                                            @item.Value3
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value2 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value2" value="@item.Spec-@item.Value2">
                                                        <label class="custom-control-label" for="@item.Value2">
                                                            @item.Value2
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value1 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value1" value="@item.Spec-@item.Value1">
                                                        <label class="custom-control-label" for="@item.Value1">
                                                            @item.Value1
                                                        </label>
                                                    </div>
                                                }

                                            </div><!-- End .custom-checkbox -->
                                            <!-- End .filter-item -->
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div>

                                <!-- End .collapse -->
                            </div>

                            <!-- End .widget -->
                        }



                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                    Price
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-5">
                                <div class="widget-body">
                                    <div class="filter-price">
                                        <div class="filter-price-text">
                                            Price Range:
                                            <span id="filter-price-range"></span>
                                        </div><!-- End .filter-price-text -->

                                        <div id="price-slider"></div><!-- End #price-slider -->
                                    </div><!-- End .filter-price -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->

                        </div><!-- End .widget -->
                        <div class="text-center">
                            <button class="btn btn-primary btn-round" type="submit">Uygula</button>
                        </div>
                    </form>
                </div><!-- End .sidebar sidebar-shop -->
            </aside><!-- End .col-lg-3 -->

        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->