@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<br />
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="toolbox">
                    <div class="toolbox-left">
                        <div class="toolbox-info">
                            Showing <span>9 of 56</span> Products
                        </div><!-- End .toolbox-info -->
                    </div><!-- End .toolbox-left -->

                    <div class="toolbox-right">
                        <div class="toolbox-sort">
                            <label for="sortby">Sort by:</label>
                            <div class="select-custom">
                                <select name="sortby" id="sortby" class="form-control">
                                    <option value="popularity" selected="selected">Most Popular</option>
                                    <option value="rating">Most Rated</option>
                                    <option value="date">Date</option>
                                </select>
                            </div>
                        </div><!-- End .toolbox-sort -->
                    </div><!-- End .toolbox-right -->
                </div><!-- End .toolbox -->

                <div class="products mb-3">
                    <div class="row justify-content-center">
                        @foreach (var item in Model)
                        {
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span class="product-label label-new">New</span>
                                        <a href="product.html">
                                            <img src="@item.ThumbnailImage" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>Sepete Ekle</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">Women</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title">
                                            <a href="product.html">
                                                @if (item.Name.Count() > 50)
                                                {
                                                    @item.Name.Substring(0,item.Name.Substring(0,50).LastIndexOf(" ")).ToString()

                                                    <span>...</span>
                                                }
                                                else
                                                {
                                                    @item.Name
                                                }
                                            </a>
                                        </h3><!-- End .product-title -->
                                        <div class="product-price">
                                            @item.Price.ToString("C")
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>

                            <!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                        }


                    </div><!-- End .row -->
                </div><!-- End .products -->


                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item-total">of 6</li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End .col-lg-9 -->

            <aside class="col-lg-3 order-lg-first">
                <div class="sidebar sidebar-shop">
                    <div class="widget widget-clean">
                        <label>Filters:</label>
                        <a href="#" class="sidebar-filter-clear">Clean All</a>

                    </div><!-- End .widget widget-clean -->
                    <form asp-action="Index" asp-controller="Urunler" method="get">
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
                                    Marka
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-4">
                                <div class="widget-body">
                                    <div class="filter-items">
                                        @foreach (var brands in Model)
                                        {
                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="@brands.Id">
                                                    <label class="custom-control-label" for="@brands.Id">@brands.Brand</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div>

                                            <!-- End .filter-item -->
                                        }

                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->
                        @foreach (var item in ViewBag.specs)
                        {
                            string uniqueId2 = Guid.NewGuid().ToString();
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#@uniqueId2" role="button" aria-expanded="true" aria-controls="@uniqueId2">
                                        @item.Spec
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="@uniqueId2">
                                    <div class="widget-body">
                                        <div class="filter-items">
                                            <div class="filter-item">
                                                @if (item.Value6 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value6" value="@item.Spec-@item.Value6">
                                                        <label class="custom-control-label" for="@item.Value6">
                                                            @item.Value6
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value5 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value5" value="@item.Spec-@item.Value5">

                                                        <label class="custom-control-label" for="@item.Value5">
                                                            @item.Value5
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value4 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value4" value="@item.Spec-@item.Value4">
                                                        <label class="custom-control-label" for="@item.Value4">
                                                            @item.Value4
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value3 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value3" value="@item.Spec-@item.Value3">
                                                        <label class="custom-control-label" for="@item.Value3">
                                                            @item.Value3
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value2 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value2" value="@item.Spec-@item.Value2">
                                                        <label class="custom-control-label" for="@item.Value2">
                                                            @item.Value2
                                                        </label>
                                                    </div>
                                                }
                                                @if (item.Value1 != null)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="value" id="@item.Value1" value="@item.Spec-@item.Value1">
                                                        <label class="custom-control-label" for="@item.Value1">
                                                            @item.Value1
                                                        </label>
                                                    </div>
                                                }

                                            </div><!-- End .custom-checkbox -->
                                            <!-- End .filter-item -->
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div>

                                <!-- End .collapse -->
                            </div>

                            <!-- End .widget -->
                        }
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
                                    Colour
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-3">
                                <div class="widget-body">
                                    <div class="filter-colors">
                                        <a href="#" style="background: #b87145;"><span class="sr-only">Color Name</span></a>
                                        <a href="#" style="background: #f0c04a;"><span class="sr-only">Color Name</span></a>
                                        <a href="#" style="background: #333333;"><span class="sr-only">Color Name</span></a>
                                        <a href="#" class="selected" style="background: #cc3333;"><span class="sr-only">Color Name</span></a>
                                        <a href="#" style="background: #3399cc;"><span class="sr-only">Color Name</span></a>
                                        <a href="#" style="background: #669933;"><span class="sr-only">Color Name</span></a>
                                        <a href="#" style="background: #f2719c;"><span class="sr-only">Color Name</span></a>
                                        <a href="#" style="background: #ebebeb;"><span class="sr-only">Color Name</span></a>
                                    </div><!-- End .filter-colors -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->



                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                    Price
                                </a>
                            </h3><!-- End .widget-title -->

                            <div class="collapse show" id="widget-5">
                                <div class="widget-body">
                                    <div class="filter-price">
                                        <div class="filter-price-text">
                                            Price Range:
                                            <span id="filter-price-range"></span>
                                        </div><!-- End .filter-price-text -->

                                        <div id="price-slider"></div><!-- End #price-slider -->
                                    </div><!-- End .filter-price -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->

                        </div><!-- End .widget -->
                        <div class="text-center">
                            <button class="btn btn-primary btn-round" type="submit">Uygula</button>
                        </div>
                    </form>
                </div><!-- End .sidebar sidebar-shop -->
            </aside><!-- End .col-lg-3 -->

        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->