@model List<ProductViewModel>

<div class="products">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-4 col-lg-3">
            <div class="product product-2">
                <figure class="product-media">
                        <a asp-action="Details" asp-controller="Urunler" asp-route-id="@item.Id">
                        <img src="@item.ThumbnailImage" alt="Product image" class="product-image">
                    </a>

                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                    </div><!-- End .product-action -->

                    <div class="product-action">
                            <a href="javascript:void(0);" onclick="AddToCart(@item.Id)" class="btn-product btn-cart" title="Sepete Ekle"><span>Sepete Ekle</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->

                <div class="product-body">
                    <div class="product-cat">
                            <a asp-action="Index" asp-controller="Urunler" asp-route-id="@item.CategoryId">@item.Category.CategoryName</a>
                    </div><!-- End .product-cat -->
                        <h3 class="product-title"><a asp-action="Details" asp-controller="Urunler" asp-route-id="@item.Id">
                                @if (item.Name.Count() > 40)
                                {
                                    @item.Name.Substring(0,item.Name.Substring(0,40).LastIndexOf(" ")).ToString()

                                    <span>...</span>
                                }
                                else
                                {
                                    @item.Name
                                }
                            </a></h3><!-- End .product-title -->
                    <div class="product-price">
                        <span class="new-price">@item.Price.ToString("C")</span>
                    </div><!-- End .product-price -->
                </div><!-- End .product-body -->
            </div><!-- End .product -->
        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
        }
        

    </div><!-- End .row -->
</div><!-- End .products -->